.vagrant/
vendor/
config/development.config.php
config/autoload/jwt.global.php
config/autoload/doctrine.local.php
config/*
CsnAuthorization/
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache
